.containerForm{
    background-image: url(C:\Users\leand\OneDrive\Escritorio\PI-Food-main\client\src\images\HomeLogo.jpg);    
    color:#000532;
    width: 100vw;
    height:100vh;
    line-height:0pc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.containerFormInside{
    border-radius: 4em;
    background: rgba(238, 235, 235, 0.829);
    padding: 1em;
    width:30%;
    height:90vh;
    border: 20px white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.textSteps{
    width: 600px;
    height: 60px;
    position:absolute;
    background: transparent; 
    top: 555px;
    left: 37.3%;
    font-size: 20px;
}
.textSummary{
    width: 500px;
    height: 70px;
    position:absolute;
    background: transparent; 
    top: 340px;
    left: 42%;
    font-size: 20px;
}

.textForm{
    font-size:small;
    border: #000532;
    color:#000532;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.inputForm{
    width:230px;
    height:15px;
    background-color:white;
    border: 2px solid black;
    color:rgb(15, 15, 15);
    border-radius: 5px;
    margin-top: -5px;
}

.inputForm:focus{
    color:burlywood;
    background-color: #000532;
    outline-color: orange;
}
.errorText{
    font-size: 12px;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
}
.inputFormDescription{
    width: 230px;
    height:60px;
    resize:none;
    background-color:white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: -5px;
}

.DietsForm{

}



.buttonCreate{
    margin-top: 40%;
    background-color:rgb(23, 218, 5);
    height: 25px;
    box-shadow: 2px 2px 4px black;
    
    cursor: pointer;
    color: rgb(15, 15, 15);
    border-radius: 5px;
    border: 2px solid rgb(1, 10, 12);
    width: 150px;
}
.ButtonBack{
    background-color: rgb(69, 218, 69);
    left:10px;
    position:absolute;
    cursor: pointer;
    margin: 15px, 0px, 0px, 15px;
    font-size: 16px;
    height: 50px;
    border: 2px;
    color:#000532;
    border-radius: 10px;
}
.containertitle{
    margin-top: 50px;
    border-radius: 1em;
    background: rgba(238, 235, 235, 0.829);
    padding: 1em;
}